{% load static %}

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{% static 'img/browser.png' %}" class="img-fluid rounded-start" />
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ browser.name }}</h5>
                <p class="card-text">{{ browser.comp_browser.name }}</p>
                <p class="card-text"><small class="text-muted">Memory on disk: {{ browser.memory_on_disk }}</small></p>
                <a href="{% url 'delete_browser' browser.pk %}" class="btn btn-danger"> Delete </a>
                <a href="{% url 'update_browser' browser.pk %}" class="btn btn-primary"> Update </a>
            </div>
        </div>
    </div>
</div>