<div class="mb-3">
    <label for="comp_browserName" class="form-label">Computer name</label>
    <input
        type="text"
        name="name"
        value="{{ comp_browser.name }}"
        required="required"
        class="form-control"
        id="comp_browserName"
    />
</div>

<div class="mb-3">
    <label for="comp_browserModel" class="form-label">Computer model</label>
    <input
        type="text"
        name="model"
        value="{{ comp_browser.model }}"
        required="required"
        class="form-control"
        id="comp_browserModel"
    />
</div>